# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9a92c1e29032033844404fe233ec614c14f590df69c2f26ef89f139b0987887e5f45268d0743dbb3f99bd4514da38226ee0f1681b9181a781a0aef821501da94

test:
  secret_key_base: 8065408d12901261f4b239ddbd91403144cb639ba6ccfe6235bcc935d45781f7368211ccabfa3eee76b00a16ae821f813940438e650658512fe4aa46dc88738c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
